.gridRow {
  display: grid;
  grid-template-columns: 255px 255px 255px;
  grid-template-rows: 330px 330px 330px;
  column-gap: 15px;
  row-gap: 15px;
}

.gridContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 50px;
}
